body {
    margin: 10%;
    background-color:beige;
}

a {
    color:black;
}

a:hover {
    color:blue;
    text-decoration: none;
}

#entry {
    border: 1%;
    border-radius: 20%;
    padding: 2%;
    text-align: center;
}

#input {
    padding: 1%;
    border: none;
    border-bottom: 3%;
    width: 75%;
    border-top: 3%;
    border-left: 5%;
    border-right: 5%;
    border-style: dashed;
}

#submit {
    width: 50%;
    border: none;
    border-radius: 10%;
    padding: 1.5%;
    font-size: small;
    background-color: aquamarine;
    border-right: 5%;
    border-left: 5%;
}

#submit:hover{
    background-color: green;
    color:white;
    width: 50%;

}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}
  
  /* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}